<!-- In the line below, you can change just last two classes, respecting the name pattern  -->
<fieldset class="box-payment-group2 box-payment-option box-payment-newpayment newPaymentGroup">
  <h3 class="payment-newpayment-title" data-i18n="paymentData.paymentGroup.debitoBancario.title">
    <div id="netpay-cash-line"></div>
  </h3>
  <div class="payment-newpayment-description">
    <p class="payment-newpayment-description-text" data-i18n="paymentData.paymentGroup.debitoBancario.redirectInstructions">
    <div id="netpay-cash-instructions">
    <ul>
      <li>Tienes 4 días hábiles para realizar el pago.</li>
      <li>Recibe por email las instrucciones para pagar.</li>
      <li>Realiza tu pago en cualquiera de estos establecimientos:</li>
    </ul>
    </div>
    </p>
  </div>
  <div class="payment-newpayment-description">
    <div id="netpay-cash-images">
      <div class="row">
        <div class="span2"></div>
        <div class="span3">
          <img src="../assets/img/payment-netpay-cash-7eleven.svg">
        </div>
        <div class="span3">
          <img src="../assets/img/payment-netpay-cash-woolworth.svg">
        </div>
        <div class="span3">
          <img src="../assets/img/payment-netpay-cash-telecomm.svg">
        </div>
        <div class="span1"></div>
      </div>
    <div class="row">
      <div class="span3"></div>
      <div class="span2">
        <img src="../assets/img/payment-netpay-cash-yastas.svg">
      </div>
      <div class="span2">
        <img src="../assets/img/payment-netpay-cash-fa_ahorro.svg">
      </div>
      <div class="span2">
        <img src="../assets/img/payment-netpay-cash-chedraui.svg">
      </div>
      <div class="span2">
        <img src="../assets/img/payment-netpay-cash-delsol.svg">
      </div>
      <div class="span1"></div>
    </div>
    </div>
  </div>
  <div class="payment-newpayment-help">
    <span class="payment-newpayment-help-text muted" data-i18n="paymentData.paymentGroup.debitoBancario.contact">
      Compra Segura con NetPay.
    </span>
  </div>
</fieldset>
